.customer-select-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.customer-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 60px 100px;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #00095b;
}