.header {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.header .home-icon {
    padding: 1rem 4rem 0.5rem;
    font-size: 2.4rem;
    color: #00095b;
    font-family: "Great Vibes", serif;
}

.header .nav-link {
    padding: 0.75rem 4rem;
    background-color: #00095b;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}