.card {
    background-color: #FFFFFF;
    display: inline-block;
    border-radius: 5px;
    padding: 2rem;
}

.card__title--agreement {
    font-family: "Alumni Sans Pinstripe", serif;
    font-size: 2.0rem;
    margin-top: 0;
}

.card__image--agreement {
    max-width: 150px;
}

.card--agreement {
    border-radius: 10px;
    box-shadow: 2px 2px 4px #00095b;
}
