registry=https://jfrog.ford.com/artifactory/api/npm/npmjs/
@fmcc-web-platform:registry=https://jfrog.ford.com/artifactory/api/npm/digitalplatform-npm
@fcamna:registry=https://jfrog.ford.com/artifactory/api/npm/ucl-fp-fc-library/
@fce-bees:registry=https://jfrog.ford.com/artifactory/api/npm/fce-bees-npm/
@fcamna:registry=https://jfrog.ford.com/artifactory/api/npm/ucl-fp-fc-library/
//jfrog.ford.com/artifactory/api/npm/:_password=${JFROG_PASSWORD}
//jfrog.ford.com/artifactory/api/npm/:username=${JFROG_USER}
//jfrog.ford.com/artifactory/api/npm/:email=${JFROG_USER}
//jfrog.ford.com/artifactory/api/npm/:always-auth=true